@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tapestry&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 80%;
  height: 100vh;
  background-color: bisque;
  margin: auto;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tapestry', cursive;
  min-width: 636px;
}